<h4 class="text-center mt-3 py-3 text-light">你想對誰說幹話？</h4>
<div class="container mx-auto mt-4">
    <form method="POST" action="/">
        <div class="row">

            {{#each jobs}}
            <div class="col-4">
                <div class="card mb-3 item">
                    <label for="{{this.name}}">
                        <img src="{{this.img}}" class="card-img-top img" alt="{{this.name}}" style="height: 13rem;">
                    </label>
                    <div class="card-body custom-control custom-radio text-center p-3">
                        <input type="radio" class="custom-control-input" name="jobs" value="{{this.name}}" id="{{this.name}}" {{#ifEquals ../options.jobs
                            this.name}} checked {{/ifEquals}}>
                        <label class="custom-control-label" for="{{this.name}}">{{this.name}}</label>
                    </div>
                </div>
            </div>
            {{/each}} 
            {{#if rubbish}}
            <div class="alert alert-info col-sm-12" role="alert">
                <span class="mr-2">{{rubbish}}</span>
            </div>
            {{/if}}

            <div class="col-sm-12 mt-2">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mb-4 py-2" type="submit">產生幹話</button>
                </div>
            </div>
        </div>
    </form>
</div>